.quallsma-nav {
  background-color: #38537e;
}
.quallsma-nav .navbar-brand {
  color: #fff;
}
.quallsma-nav .navbar-nav > li > a {
  color: #a4b7d6;
}
.quallsma-nav .navbar-nav > li > a:hover {
  color: #fff;
}
.quallsma-nav .navbar-nav > .active > a,
.quallsma-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #203049;
}
.quallsma-nav .navbar-toggle {
  border-color: #38537e;
}
.quallsma-nav .navbar-toggle:hover {
  background-color: #203049;
  border-color: #203049;
}

body{
	padding-top: 70px; 
	background: url(../images/background2.jpg);
	color: #fff;
	width: 800px;
	margin: 1.5em auto;
	
}

.quallsma-header{
	
}

#time{
	color: #fff;
}

#counter span.warning { 
	color: #b66875; 
}

h3 {
	text-shadow: 1px 1px 1px #FFFFFF;
	background: none;
	color: #006600;
	opacity: 0.5;
	font-size: 30px;
}

h4 {
	font-size: 20px;
	text-shadow: 1px 1px 1px #FFFFFF;
	color: #006600;
}
li{
	list-style-type: none;
}
.jumbotron {
	color: #006600;
}
#dates {
	font-size: 17px;
	color: #006600;
	text-shadow: 1px 1px 1px #000000;
}

.panel-collapse li{
	color: black;
}

#skills {
	list-style-type: none;
	border: 1px ridge #AAAAAA;
	opacity: 0.6;
	background-color: #006600;
}
#skillset{
	margin-top: 0px;
}